*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
}

.page-body {
  min-height: 100%;
  font-size: 18px;
  font-family: Geometria, Arial, Helvetica, sans-serif;
  background-color: black;
  color: #ccc;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.game {
  position: relative;
  margin: 50px auto;
  min-width: 400px;
  width: 400px;
  min-height: 400px;
  outline: 5px groove blue;
}

.game::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  outline: 5px groove blue;
  outline-offset: -5px;
}

.ghost {
  position: relative;
  width: 100px;
  height: 100px;
  transition: border-radius 0.5s, background-color 0.5s;
}

.ghost img {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.count {
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 25px;
  font-weight: bold;
  z-index: 1;
  color: aliceblue;
  background: red;
  padding: 3px 6px;
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
